extends layout

block header
  script(src="/javascripts/pdfkit.js")
  script(src="/javascripts/blob-stream-v0.1.2.js")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script.
    $(document).ready(function(){
      console.log("Ready");
      // create a document and pipe to a blob
      genPdf("wefqwefwefawefawef");
      currText = "";
      function genPdf(text) {
        currText = text;

        var doc = new PDFDocument();
        var stream = doc.pipe(blobStream());
        doc.fontSize(14);
        doc.text("Title of my document", 100, 100)
           .font('Times-Roman');
        // and some justified text wrapped into columns
        doc.text(text, 100, 200)
           .font('Times-Roman', 10);
        // end and display the document in the iframe to the right
        doc.end();

        stream.on('finish', function() {
          document.getElementById("preview").src = stream.toBlobURL('application/pdf');
        });

      }

      $('#editor').change(function() {
        text = $(this).val();
        console.log(text);
        genPdf(text);
      });

      setInterval(function() {
        text = $("#editor").val();
        if (text !== currText)
          genPdf(text);
      }, 2000);



    });

block content
  h1= title
  p Send physical letters from your computer in 30 seconds. <br />No signups, stamps, or printers.
  div#editor-container
    textarea#editor(placeholder="Letter Body Here")
    iframe#preview

  form#send(action="/payandsend", method="POST")
    script.stripe-button(src="https://checkout.stripe.com/checkout.js", data-key="pk_test_4Kitk5nAPTrcAbHDpiCTBnif",data-amount="125" data-name="BreezeLetter", data-description="One Letter ($1.25)", data-image="http://iconbug.com/data/ff/256/22dc0b1e9ab8b25a70016fc8eb958d11.png", data-label="Pay and Send!")
    input(type="hidden", name="foo", value="bar")
