body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

textarea#editor, iframe#preview {
  width: 400px;
  height: 517px;
  float: left;
}

#editor-container {
  position: relative;
  height: 600px;
}

textarea#editor {
  margin-right: 25px;
}

#send {
  display: block;
  margin: 50px auto;
  text-align: center;
}

